*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
   overflow-x: hidden;
}
header{
    background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/b5aebdc251425e8aa6997dbc/bggr.jpg);
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 1100px;
padding-top: 100px;
box-sizing: border-box;
display: flex;

}
.imgs{
    width: 90%;
    height: 1000px;
    /* background-color: yellow; */
    /* margin: auto; */
    margin-left: 166px;
    display: flex;
    justify-content: space-between;
   

    
}
.hp{
    width: 640px;
    height: 455px;
    /* background-color:wheat; */
   margin-left: 100px;
   margin-top: 100px;
}
.hp h1{
    font-size: 6rem;
    background-image: none;
    margin: 38px 0 0;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.1;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hp p{
    font-size: 3rem;
    line-height: 1;
    margin: 16px 0 0;
    font-weight: 400;
    color: #FFFFFF;
}
.hp .btn{
    background-image: none;
    margin: 49px auto 0;
  
}
.btn button{
    width: 138px;
    height: 52px;
    border: none;
    outline: none;
    background-color:#f70647 ;
    cursor: pointer;
}
.btn button:hover{
    background-color:  #de0540;
    transition: 0.5s;
}
.btn button a{
    text-decoration: none;
    color: #FFFFFF;
}
.image{
    width: 734px;
    height: 950px;
   /* background-color: bisque; */
}
.image img{
    width: 596px;
    height: 900px;
}
.sect1{
    width: 100%;
    height: 550px;
    background-color: #43005d;
}
.all{
    width: 80%;
    height: 500px;
    margin: auto;
    /* background-color: yellowgreen; */
    display: flex;
    margin-left: 250px ;
  

}
.div1{
    position: relative;
    width: 510px;
    height: 620px;
    /* background-color: aqua; */
    top: -200px;
}
.div1 img{
    width: 510px;
    height: 620px;
}
.div2{
    width: 284px;
    height: 284px;
    position: relative;
   top: 200px;
   left: -100px;
  
}
.div2 img{
    width: 284px;
    height: 284px;
}
.div3{
    width: 560px;
    height: 470px;
    /* background-color:pink; */
    padding: 0px 60px;
    position: relative;
    right: 170px;
   
}
.div3 .p1{
    font-size: 8rem;
    line-height: 1;
    font-weight: 300;
    width: 435px;
    margin: 48px auto 0;
    color: #FFFFFF;
}
.div3 h2{
    font-size: 3rem;
    margin: 43px 0 0;
    font-weight: bold;
    line-height: 1.1;
    text-transform: uppercase;
    color: #f70647;

}
.div3 .p{
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.125rem;
    color: #FFFFFF;
    margin: 20px 0 45px;
}
.sect2{
    width: 100%;
    height: 700px;
    background-color: #43005d;
}
.all1{
    width: 80%;
    height: 650px;
    margin: auto;
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: center;

}
.div4{
    width: 415px;
    height: 620px;
    /* background-color:pink; */
    padding: 0px 60px;
    
}
.div5{
    width: 570px;
    height: 635px;
    /* background-color: purple; */
    margin-top: 65px;
    margin-left: 160px;
}
.div5 img{
    width: 570px;
    height: 635px;
    /* background-color: purple; */
}
.div4 .p1{
    font-size: 8rem;
    line-height: 1;
    font-weight: 300;
    width: 435px;
    margin: 48px auto 0;
    color: #FFFFFF;
}
.div4 h2{
    font-size: 3rem;
    margin: 43px 0 0;
    font-weight: bold;
    line-height: 1.1;
    text-transform: uppercase;
    color: #f70647;

}
.div4 .p{
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.125rem;
    color: #FFFFFF;
    margin: 20px 0 45px;
}
.sect3{
    width: 100%;
    height: 460px;

}
.als{
    width: 100%;
    height: 120px;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
}
.img1{
    width: 325px;
    height: 280px;
    /* background-color: pink; */
    position: relative;
   bottom: 230px;
}
.img1 img{
    width: 325px;
    height: 280px;
}
.img2{
    width: 635px;
    height: 200px;
    position: relative;
    bottom: 100px;
}
.img2 img{
    width: 635px;
    height: 200px;
}
.h2{
   text-align: center;
}
.h2 h2{
    font-size: 3rem;
    margin: 10px 0;
    font-weight: bold;
    line-height: 1.1;
    text-transform: uppercase;
    color: #43005d 
}
.h1p{
    width: 80%;
    height: 250px;
    margin: auto;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-around;
}
.h1p1{
    width: 285px;
    height: 208px;
    padding: 0px 30px;
    box-sizing: border-box;
    /* background-color: plum; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.h1p1 h1{
    font-size: 4.5rem;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.1;
    color: #f70647;
}
.h1p1 p{
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 20px 0 0;
    color: #43005d;
}
.sect4{
    width: 100%;
    height: 700px;
    background-image: linear-gradient(0deg, rgba(67,0,93,0.7), rgba(67,0,93,0.7)),
    url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/3a6e5f4b71085e33b7ff41b2/closeupofthreebusinesspeoplehandsusingtheirsmartphoneswhileridingtheelevator_swgbe9_9r__F0000.jpg) ;
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: 50% 50%;
    padding: 150px 0px;
    box-sizing: border-box;
}
.als2{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 600px;
    margin: auto;
    /* background-color: yellow; */
}
.txt {
    width: 500px;
    height: 600px;
    /* background-color: pink; */
}
.txt h1{
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 4.5rem;
    margin: 45px 0 0;
    line-height: 1.1;
    text-transform: uppercase;
    color: #f70647 
}
.txt p{
    margin-top: 30px;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1rem;
color: #FFFFFF;

}
.input{
    padding: 60px ;
    box-sizing: border-box;
    width: 500px;
    height: 600px;
    /* background-color:purple; */
}
.input form input{
    width: 376px;
    height: 50px;
    padding: 10px 12px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border:4px solid #f70647;
    background-color: transparent;
}
.input form textarea{
    width: 376px;
    min-height: 150px;
    border:4px solid #f70647;
    background-color: transparent;
    resize: vertical;
    padding: 10px 12px;
    box-sizing: border-box;
}
.input form button{
    width: 110px;
    height: 36px;
    margin-top: 10px;
    background-color: #f70647;
    border: none;
    outline:none;
    cursor: pointer;

}
.input form button:hover{
    background-color: #de053f8b;
   
}
.input form button a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 0.75rem;
    letter-spacing: 1px;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 700;
}
.sect5{
    width: 100%;
    height: 1260px;
   
}
.imgsall{
    width: 100%;
    height:1270;
    display: flex;
    flex-wrap: wrap;
}
.imgs1{
    width: 50%;
    min-height: 630px;
    background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/66ee030b4117564e874269a7/grcell2.jpg);
    background-position: 50% 50%;
}
.imgs2{
    width:50%;
    min-height: 630px;
    background-color: #43005d;
    padding: 0px 0px 0px 60px;
    box-sizing: border-box;
}
.pp{
    font-size: 8rem;
    line-height: 1;
    font-weight: 300;
    margin: 132px 155px 0 0;
    color: white;
}
.imgs2 h2{
    font-size: 3rem;
    margin: 43px 60px 0 0;
    font-weight: bold;
    line-height: 1.1;
    text-transform: uppercase;
    color: #f70647;
}
.ppp{
    margin: 20px 60px 0 0;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.125rem;
    color: #FFFFFF;
    width: 80%;
}
.imgs3{
    width:50%;
    min-height: 630px;
    background-color: whitesmoke;
    
}
.txts h2{
    font-size: 3rem;
    margin: 30px 60px 0 0;
    font-weight: bold;
    line-height: 1.1;
    text-transform: uppercase;
    color: #f70647 ;
}
.txts{
    
    padding: 0px 0px 0px 60px;
    box-sizing: border-box;
}
.txts p{
    margin: 20px 60px 30px 0;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.125rem;
    color: #111111;
    width: 80%;
}
.iphone{
    width: 100%;
    height: 415px;
    background-image:  url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/e8e7290111aa5533acfd6f40/Untitled6.jpg);
    background-size: cover;
    
  
    background-position: 50% 50%;
}

.imgs4{
    width: 50%;
    min-height: 630px;
    background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/193c299b8dcc56ccafc40e7b/Untitled2.jpg);
    background-position: 50% 50%;
}
.sect6{
    width: 100%;
    height: 500px;
   background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/aea417978fcd526793aad9d9/xc.jpg);
   background-position: 50% 50%;
   padding: 100px;
   box-sizing: border-box;
}
.get{
    width: 670px;
    height: 325px;
    margin: auto;
    /* background-color: yellow; */
    padding: 0px 20px;
box-sizing: border-box;
text-align: center;
}
.im1{
    width: 196px;
    height: 60px;
    margin: 40px auto 28px;
    /* background-color: red; */
}
.get h2{
    margin: 28px 0 0;
    font-weight: bold;
    line-height: 1.1;
    font-size: 3rem;
    text-transform: uppercase;
    color: #f70647;
}
.get p{
    margin: 30px 0 0;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.125rem;
    color: #e2a8f8 ;
    width: 95%;
}
footer{
    width: 100%;
    height: 100px;
    background-color:  #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot{
  
    display: flex;
}
.foot a{
    color: #e2a8f8;
    font-size: 13px;
  
}
.foot a:hover{
    color: #111111;

    text-decoration: none;
}
.foot p{
    color: #FFFFFF;
    font-size: 13px;
}